<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="board.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="title-wrapper">
            <h1 class="title">SPRING BOARD</h1>
        </div>
        <div class="login-wrapper">
            <span class="login-btn">로그인</span>
            <span class="sign-up-btn">회원가입</span>
        </div>
    </header>
    <main>
        <div class="board-wrapper">
            <div class="menus">
                <div class="menu1 menu">번호</div>
                <div class="menu2 menu">제목</div>
                <div class="menu3 menu">작성자</div>
                <div class="menu4 menu">조회수</div>
                <div class="menu5 menu">작성시간</div>
            </div>
            <!--임시로 값 적어둠 복사 해놓은거라 백엔드 작업할 때 지워야 함 -->
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">1</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">2</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">3</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">4</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">5</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">6</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">7</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">8</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">9</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <div class="post-wrapper">
                <div class="posts board-number menu menu1">10</div>
                <div class="posts board-title menu menu2">게시글 제목 게시글 제목 게시글 제목</div>
                <div class="posts board-writer menu menu3">작성자</div>
                <div class="posts board-views menu menu4">100</div>
                <div class="posts board-time menu menu5">23-10-07 19:01</div>
            </div>
            <!--임시로 값 적어둠 복사 해놓은거라 백엔드 작업할 때 지워야 함 -->
        </div>
    </main>
</body>
</html>